# coding: utf-8

"""
    MaaS

    Draft for MaaS (Matomat as a Service)  # noqa: E501

    OpenAPI spec version: 0.2.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class AuthApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def auth_login_post(self, username: object, password: object, kwargs: object) -> object:  # noqa: E501
        """Logs a user in and returns an JWT token for authentication  # noqa: E501

        Logs a user in and returns an JWT token for authentication. The passes along validitiyseconds determine how long the token should be available.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.auth_login_post(username, password, async=True)
        >>> result = thread.get()

        :param async bool
        :param str username: (required)
        :param str password: (required)
        :param int validityseconds:
        :return: AuthSuccess
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.auth_login_post_with_http_info(username, password, **kwargs)  # noqa: E501
        else:
            (data) = self.auth_login_post_with_http_info(username, password, **kwargs)  # noqa: E501
            return data

    def auth_login_post_with_http_info(self, username, password, **kwargs):  # noqa: E501
        """Logs a user in and returns an JWT token for authentication  # noqa: E501

        Logs a user in and returns an JWT token for authentication. The passes along validitiyseconds determine how long the token should be available.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.auth_login_post_with_http_info(username, password, async=True)
        >>> result = thread.get()

        :param async bool
        :param str username: (required)
        :param str password: (required)
        :param int validityseconds:
        :return: AuthSuccess
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['username', 'password', 'validityseconds']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method auth_login_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'username' is set
        if ('username' not in params or
                params['username'] is None):
            raise ValueError("Missing the required parameter `username` when calling `auth_login_post`")  # noqa: E501
        # verify the required parameter 'password' is set
        if ('password' not in params or
                params['password'] is None):
            raise ValueError("Missing the required parameter `password` when calling `auth_login_post`")  # noqa: E501

        if 'validityseconds' in params and params['validityseconds'] < 0:  # noqa: E501
            raise ValueError("Invalid value for parameter `validityseconds` when calling `auth_login_post`, must be a value greater than or equal to `0`")  # noqa: E501
        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'username' in params:
            form_params.append(('username', params['username']))  # noqa: E501
        if 'password' in params:
            form_params.append(('password', params['password']))  # noqa: E501
        if 'validityseconds' in params:
            form_params.append(('validityseconds', params['validityseconds']))  # noqa: E501

        body_params = None
        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/x-www-form-urlencoded'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/auth/login', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AuthSuccess',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
